{% extends "allauth/layouts/base.html" %}
{% load i18n %}
{% load static %}
{% load allauth_ui %}

{% block head_title %}
<link rel="stylesheet" href="{% static 'allauth_ui/output.css' %}">
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'allauth_ui/output.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock extra_head %}
{% block body %}
    {{ block.super }}
{% endblock body %}
{% block extra_body %}
{% endblock extra_body %}