{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Shoppy{% endblock title %}</title>

    <!-- font-awesome cdn link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

    <!-- custom css file link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    
    <section id="header">
        <h3>Shoppy</h3>
        <div>
            <ul id="navbar">
                <li><a {% if request.path == '/' %} class="active" {% endif %} href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                <li><a {% if 'items' in request.path  %} class="active" {% endif %} href="{% url 'items:items_list' %}">Items</a></li>
                <li><a href="{% url 'account_logout' %}">Log out</a></li>
                {% endif %}

                {% if request.user.is_anonymous %}
                <li><a href="{% url 'account_login' %}">Sign In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
                <li id="lg-bag"><a href=""><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href=""><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    
    {% block content %}
    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop Now</button>
    </section>
    
    {% endblock content %}

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <h3>Shoppy</h3><br>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="">About us</a>
            <a href="">Delivery Information</a>
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
            <a href="">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="">Sign In</a>
            <a href="">Sign Up</a>
            <a href="">My Items</a>
            <a href="">Help</a>
        </div>
        <div class="copyright">
            <p>Created By Raphael Apeh | All Rights Reserved | &#169; {% now "Y" %}</p>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>